.App {
  text-align: center;
}

a {
  color: inherit;
  text-decoration: none;
}

.MuiToolbar-root {
  background-color: #f57c00
}

span.MuiButton-label {
  color: white;
}

.MuiCard-root {
  margin-right: 30px;
}

.FormsContainer {
  display: flex;
  flex-direction: row;
  margin-top: 100px;
  margin-left: 90px;
  margin-right: 90px;
}

.ProfileContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 70px;
  margin-bottom: 60px;
  margin-left: 30px;
}

#logo {
  length: 50px;
  width: 50px;
}

.Header {
  margin-top: 50px;
  color: #730e95;
}

.CityDisplayer {
  margin-top: 30px;
  margin-right: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-bottom: 20px;
}

div.MuiCardContent-root > h2 {
  color: white;
}

div.MuiCardContent-root {
  background-color: #f57c00;
}

body > div.swal-overlay.swal-overlay--show-modal > div > div.swal-footer > div > button {
  color: white;
  background-color: #f57c00;
}

.home {
  background-color: #ffb64d;
  background-size: cover;
  height: 100%
}

/* .homeHead {
  margin-top: 260px;
  background-color: #f57c00;
  color: white;
  margin-right: 540px;
  margin-left: 540px;
  border-radius: 50px;
} */

div > h1 {
  color: #730e95
}
